 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/Untitleddesign.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 152px;
  margin-bottom: 152px;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 1033px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 450px;
  transition-duration: 0.5s;
  box-shadow: 0 0 36px 1px rgba(15,4,5,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 61px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 87px auto 0 61px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1022px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  margin: 123px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: 28px auto 0 54px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 108px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 0;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 405px;
  width: 410px;
  margin: 276px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 190px;
    margin-bottom: 52px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 416px;
    margin-top: 47px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 124px;
    margin-right: 216px;
    margin-left: 52px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 27px;
    margin-left: 119px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 287px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 983px;
  }

  .u-section-1 .u-image-1 {
    width: 333px;
    height: 333px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 168px;
    margin-right: 161px;
    margin-left: 28px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 983px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 125px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    width: 388px;
    height: 390px;
    margin-top: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 160px;
    margin-right: 156px;
    margin-left: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 50px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
    margin-right: 12px;
    margin-left: 48px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 35px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 153px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 53px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 341px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-right: 18px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 15px;
    margin-left: 80px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 130px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}